<html>
  <head>
    <link rel="stylesheet" href="matrix.css">
    <script src="d3.v3.min.js" charset="utf-8"></script>
    <script src="matrix.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <aside id="generatedDate">Generated Sun, 05 Mar 2017 17:32:06 -0000</aside>
    </header>
    <h1 id="title">Test Title</h1>
    <aside>
      <p>Order:
        <select id="order">
          <option value="group">by Group</option>
          <option value="outdegree">by Outgoing Impact</option>
          <option value="indegree">by Incoming Dependency</option>
          <option value="name">by Name</option>
        </select>
      </p>
      <p>This matrix diagram visualizes impact and dependency.
        Each colored cell represents an impact. Darker cells indicate a larger number of interactions.
        Color depicts group membership.</p>
      <p>Use the drop-down menu to reorder the matrix and explore the data.</p>
    </aside>
    <div id="matrix"></div>
    <footer>
      <aside>Based on Mike Bostock's <a href="https://bost.ocks.org/mike/miserables/" target="_blank"><i>Les Misérables</i></a> visualization in d3.js.</aside>
    </footer>
    <script>matrix("network.json");</script>
  </body>
</html>
