<html>
  <head>
    <link rel="stylesheet" href="matrix.css">
    <script src="d3.v3.min.js" charset="utf-8"></script>
    <script src="matrix.js" charset="utf-8"></script>
  </head>
  <body>
    <header>
      <aside id="generatedDate">set by js</aside>
    </header>
    <h1 id="title">set by js</h1>
    <aside>
      <p>Order:
        <select id="order">
          <option value="outdegree">by Outdegree (row, desc top to bottom)</option>
          <option value="indegree">by Indegree (column, desc left to right)</option>
          <option value="group">by Group / Module</option>
          <option value="name">by Name</option>
        </select>
      </p>
      <p id="description">
        Each row shows a function's dependencies.
        Each column shows callers impacted by the function.
        This follows the IR/FAD DSM convention.
        Color depicts group membership. Darker cells indicate a larger number of interactions.
      </p>
    </aside>
    <div id="matrix"></div>
    <footer>
      <aside>Based on Mike Bostock's <a href="https://bost.ocks.org/mike/miserables/" target="_blank"><i>Les Misérables</i></a> visualization in d3.js.</aside>
    </footer>
    <script>matrix("network.json");</script>
  </body>
</html>
